<div>
  <% if logged_in? %>
    <%= link_to "Log out", logout_path, method: :delete %>
    <%= link_to "Home", root_path %>
    <%= link_to "Profile", user_path(current_user) %>
  <% else %>
    <%= link_to "Log in", new_sessions_path %>
  <% end %>
</div>