/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import "customers";
@import "lights";
@import "users";

.debug_dump {

	background-color: $gray-medium-light;
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.errors {
	background-color: lighten(#d9534f, 25%);
	border: 2px solid darken(#d9534f, 10%);
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}
.success {
	width: 80%;
	margin-left: auto;
	margin-right:auto;
	background-color: #dff0d8;
	color: #3c763d;
	border: 2px solid #d6e9c6;
	height: 4em;

	p {
		margin-left: 2em;
	}
}